.accountmenu__content__cards__blitem {
    display       : flex;
    height        : 94%;
    width         : 100%;
    margin-top    : 1rem;
    flex-direction: column;
    padding-right : 1rem;
}

.accountmenu__content__cards__header__item {
    display       : flex;
    flex-direction: row;
}

.settings__scrollable {
    overflow: none;
}

.accountmenu__content__cards__settings__list {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 100%;
    height         : 30px;
}

.accountmenu__content__cards__settings__container {
    display        : flex;
    flex-direction : column;
}

.accountmenu__content__cards__settings__header__type {
    font-family  : 'Montserrat';
    font-weight  : 600;
    color        : #fff;
    font-size    : 1.6rem;
    margin-bottom: 2%;
}

.accountmenu__content__cards__settings__header__name {
    font-family  : 'Montserrat';
    color        : #fff;
    font-size    : 1.1rem;
    margin-bottom: 3rem;
}

.accountmenu__content__cards__settings__list__item:last-child {
    margin-right: 0;
}

.accountmenu__content__cards__settings__list__item {
    font-family   : 'Montserrat';
    color         : #fff;
    font-size     : 1.2rem;
    font-weight   : bold;
    padding-bottom: 1rem;
    cursor        : pointer;
    transition    : .1s ease;
    margin-right  : 2rem;
}

.accountmenu__content__cards__settings__list__item_selected {
    font-family  : 'Montserrat';
    font-weight  : bold;
    color        : #fff;
    font-size    : 1.2rem;
    border-bottom: 5px solid #FD0023;
    cursor       : pointer;
    transition   : .1s ease;
    margin-right : 2rem;
}

.accountmenu__content__cards__settings__list__item_selected:last-child {
    margin-right: 0;
}

.accountmenu__content__cards__settings__bcontainer__name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size  : 1.6rem;
}

.accountmenu__content__cards__settings__bcontainer__desc {
    font-family: 'Montserrat';
    font-size  : 1.1rem;
    color      : #fff;
    margin-top : 10px;
}

.accountmenu__content__cards__setting__item {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    margin-top     : 1.5rem;
    margin-bottom  : 1.5rem;
}


.accountmenu__content__cards__setting__keys {}


.accountmenu__content__cards__setting__checkbox {
    width   : 47px;
    height  : 32px;
    position: relative;

    background   : #121214;
    border       : 1px solid #0A0A0B;
    box-sizing   : border-box;
    border-radius: 36px;
}

.accountmenu__content__cards__setting__checkbox label {
    display      : block;
    width        : 22px;
    height       : 22px;
    cursor       : pointer;
    position     : absolute;
    top          : 4px;
    z-index      : 1;
    left         : 4px;
    border-radius: 50px;
    transition   : all 0.4s ease;

    background: #FD0023;
    box-shadow: 0px 0px 10px rgba(253, 0, 35, 0.75);
}


.accountmenu__content__cards__setting__checkbox input[type=checkbox] {
    visibility: hidden;
}

.accountmenu__content__cards__setting__checkbox input[type=checkbox]:checked+label {
    left      : 20px;
    background: rgb(17, 221, 48);
    box-shadow: 0px 0px 10px rgba(17, 221, 48, 0.75);
}

.accountmenu__content__cards__setting__checkbox__btn:first-child {
    margin-right: 1rem;
}

.accountmenu__content__cards__setting__checkbox__btn_off:first-child {
    margin-right: 1rem;
}

.accountmenu__content__cards__setting__checkbox__btn_on:first-child {
    margin-right: 1rem;
}

.accountmenu__content__cards__setting__name {
    font-family: 'Montserrat';
    font-size  : 1.2rem;
}

.accountmenu__content__cards__setting__desc {
    font-family   : 'Roboto';
    font-size     : 1.0rem;
    letter-spacing: 0.12rem;
}

.accountmenu__content__cards__setting__listmenu__name {
    font-family: 'Montserrat';
    font-size  : 1.2rem;
    padding    : 0 0.4rem 0 0.4rem;
}

.accountmenu__content__cards__setting__listmenu {
    display: flex;
}

.accountmenu__content__cards__setting__key {
    background-color: #070708;
    border-radius   : 6px;
    padding-bottom  : 3px;
}

.accountmenu__content__cards__settings__container.bind_keys{
    display: flex;
    flex-direction: row;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.accountmenu__content__cards__settings__container.bind_keys .accountmenu__content__cards__setting__name {
    margin-left: 20px;
}

.accountmenu__content__cards__setting__item.bind__keys{
    width           : 420px;
    height          : 50px;
    background-color: #121214;
    padding         : 10px;
    margin          : 5px 0;
    justify-content: flex-start;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.accountmenu__content__cards__setting__key .accountmenu__content__cards__button {
    background-color: #0A0A0B;
    margin          : 0;
    padding: 15px 51px;
}


