@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0 auto;
    color: #fff;
    user-select: none;
}

li {
    list-style: none;
}

input[type=range] {
    -webkit-appearance: none;
    outline: none;
}

input[type="radio"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    background: none;
    border: none;
    outline: none;
}

button,
a {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

input {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.container {
    width: auto;
    height: auto;
}

.hide {
    display: none !important;
}

img {
    pointer-events: none;
}

.box {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    position: absolute;
}