@import url(../../../fonts/SF/stylesheet.css);
.hud-main {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
}

.hud-position-leftop {
    margin-right: auto;
    margin-bottom: auto;
    position: absolute;
}

.hud-position-rightbottom {
    margin-left: auto;
    margin-top: auto;
    display: flex;
}

.hud-info {
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hud-info .online {
    min-width: 50px;
    height: 25px;
    background: rgba(25, 29, 36, 0.89);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 0 5px;
    margin-right: 4px;
}

.hud-info .id {
    min-width: 50px;
    height: 25px;
    background: rgba(25, 29, 36, 0.89);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 0 5px;
    margin-right: 4px;
}

.hud-info .logo {
    background: url('../img/logo.png') no-repeat;
    background-size: cover;
    width: 44px;
    height: 50px;
}

.hud-info .server {
    position: absolute;
    right: -20px;
    top: 20px;
    background: url('../img/server-bg.svg') no-repeat;
    background-size: cover;
    background-position: top;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
}

.hud-ammo .logo-ammo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 72px;
    right: 98px;
    min-width: 40px;
    height: 25px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 8px;
    background: rgba(25, 29, 36, 0.89);
}

.hud-ammo .logo-ammo-img {
    width: 23px;
    height: 17px;
    margin-right: 2px;
}

.hud-ammo .logo-ammo-img.ammo-safe {
    width: 23px;
    background: url("../img/ammo-sf.png") no-repeat;
    background-size: contain;
}

.hud-ammo .logo-ammo-img.ammo-single {
    width: 11px;
    background: url("../img/ammo-s.png") no-repeat;
    background-size: contain;
}

.hud-ammo .logo-ammo-img.ammo-burst {
    width: 18px;
    background: url("../img/ammo-b.png") no-repeat;
    background-size: contain;
}

.hud-ammo .logo-ammo-img.ammo-auto {
    width: 23px;
    background: url("../img/ammo.png") no-repeat;
    background-size: contain;
}

.hud-quest .logo-quest {
    position: absolute;
    max-width: 191px;
    top: 150px;
    right: 50px;
    font-size: 14px;
    font-family: 'Montserrat';
    padding: 16px;
    background: rgba(25, 29, 36, 0.89);
}

.hud-quest .logo-quest .quest-title {
    font-family: 'SF Pro Display';
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    color: #0062FF;
}

.hud-quest .logo-quest .quest-text {
    font-family: 'SF Pro Display';
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.hud-quest .logo-quest .quest-desc {
    font-family: 'SF Pro Display';
    font-weight: 300;
    color: rgba(255, 255, 255, 0.4);
}

.hud-quest .logo-quest .quest-win {
    font-family: 'SF Pro Display';
    font-weight: 300;
    color: #64DD17;
}

.phud-money {
    position: absolute;
    top: 100px;
    right: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.phud-money .wallet-text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FFFFFF;
}

.player-hud__box__row {
    height: 25px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.phud-mic {
    position: relative;
    width: 25px;
    height: 25px;
    background: rgba(189, 189, 189, 0.63);
    border-radius: 2px;
}

.phud-mic .help {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -7px;
    left: 7px;
    width: 11px;
    height: 11px;
    background: rgba(189, 189, 189, 0.63);
    border-radius: 1px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    color: #DFDFDF;
}

.gps-main {
    min-width: 115px;
    height: 64px;
    margin-left: 323px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.gps-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gps-text .green {
    color: green;
}

.gps-text .yellow {
    color: yellow;
}

.gps-title {
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #3E82FE;
}

.gps-txt {
    font-family: 'SF Pro Display';
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.gps-txt img {
    margin-right: 3px;
}

#chat-msg-input {
    background: rgba(37, 42, 50, 0.42);
    margin-left: 16px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: normal;
    color: rgba(248, 248, 248, 0.72);
}

#button-input {
    width: 100%;
    height: 25px;
    display: flex;
    margin-top: 5px;
}

#button-input span {
    height: 25px;
    min-width: 65px;
    background: #252A32;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    cursor: pointer;
}

#button-input span:hover {
    background: #0085FF;
}

#button-input .active {
    background: #0085FF;
}