.accountmenu__content__reports__container {
    height        : 80%;
    width         : 100%;
    display       : flex;
    flex-direction: row;
}

.accountmenu__content__cards__reports__dialog {
    width      : 73%;
    height     : 100%;
    margin-left: 1rem;
    display    : flex;
    box-sizing : border-box;
}

.accountmenu__content__cards__reports__header {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size  : 1.6rem;
}

.accountmenu__content__cards__item__list__reports {
    height: 100%;
}

.accountmenu__content__cards__item__list__reports__name,
.accountmenu__content__cards__item__list__reports__name_red {
    color      : #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size  : 1.2rem;
}


.accountmenu__content__reports__item {
    height        : 100%;
    width         : 100%;
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
}

.accountmenu__content__report__header {
    width         : 100%;
    height        : 18%;
    display       : inherit;
    flex-direction: column;
    padding-bottom: 1rem;
}

.accountmenu__content__reports__ticket__container {
    height         : 100%;
    width          : 230px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.accountmenu__content__reports__item__list {
    width         : 100%;
    height        : 40px;
    margin-top    : 1rem;
    border-radius : 6px;
    display       : flex;
    flex-direction: row;
    position      : relative;
}

.accountmenu__content__reports__item__list:first-child {
    margin-top: 0;
}

.accountmenu__content__reports__list {
    overflow-y   : auto;
    height       : 100%;
    padding-right: 0.6rem;
}

.accountmenu__content__reports__list::-webkit-scrollbar {
    width: 0.4rem;
}

.accountmenu__content__reports__list::-webkit-scrollbar-track {
    background: #30303000;
}

.accountmenu__content__reports__list::-webkit-scrollbar-thumb {
    background: #FD0023;
}

.accountmenu__content__reports__list__header__num {
    font-family: 'Montserrat';
    color      : #fff;
    font-size  : 1rem;
}

.accountmenu__content__reports__item__list__header {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    background     : #121214;
    padding        : 1rem;
    width          : 200px;
    margin-left    : 1rem;
    border-radius  : 6px;
}

.accountmenu__content__reports__list__header__status {
    filter  : hue-rotate(130deg) drop-shadow(0px 0px 10px #11DD31);
    position: absolute;
    top     : 0.5rem;
}

.accountmenu__content__reports__list__header__status.closed {
    filter: hue-rotate(0deg) drop-shadow(0px 0px 10px #DD1111);
}

.accountmenu__content__reports__item__list__content__text {
    font-family: 'Montserrat';
    font-size  : 1.1rem;
}

.accountmenu__content__reports__item__list__content {
    margin-top    : 5%;
    margin-bottom : 5%;
    display       : flex;
    flex-direction: row;
}

.accountmenu__content__cards__container__help {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding        : 4rem;
}

.accountmenu__content__reports__item__list__footer {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: space-between;
    margin-left    : auto;
}

.accountmenu__content__reports__item__list__time {
    color         : #9c9c9c;
    font-family   : 'RobotoLight';
    letter-spacing: 0.1rem;
    display       : none;
}

.accountmenu__content__reports__list__header__icon {
    width : 1.4rem;
    height: auto;
}

.accountmenu__content__reports__dialog__container {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    overflow-y    : auto;
}

.accountmenu__content__reports__dialog__header {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : flex-start;
    margin-bottom  : 1rem;
}

.accountmenu__content__reports__dialog__header__data {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
}

.accountmenu__content__reports__dialog__header__buttons {
    display        : none;
    align-items    : flex-start;
    flex-direction : row;
    width          : 14vw;
    justify-content: space-between;
}

.accountmenu__content__reports__dialog__header__type {
    color         : #9c9c9c;
    font-family   : 'RobotoLight';
    text-transform: uppercase;
    white-space   : nowrap;
    letter-spacing: 0.1rem;
}

.accountmenu__cards__question__icon {
    width: 1.4rem;
}

.accountmenu__content__reports__dialog__header__num {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 190px;
    color          : #fff;
    font-family    : 'Montserrat';
    font-size      : 1.2rem;
    text-transform : uppercase;
    white-space    : nowrap;
}

.accountmenu__content__reports__dialog__header__time {
    color         : #9c9c9c;
    font-family   : 'RobotoLight';
    text-transform: uppercase;
    white-space   : nowrap;
    margin-left   : 5%;
    margin-right  : 5%;
    letter-spacing: 0.1rem;
    display       : flex;
}

.accountmenu__content__reports__dialog__header__icon {
    width        : 3vh;
    height       : auto;
    filter       : invert(52%) sepia(9%) saturate(11%) hue-rotate(44deg) brightness(96%) contrast(89%);
    margin-bottom: 0.6rem;
}

.accountmenu__content__reports__dialog__header__btn {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    cursor        : pointer;
}

.accountmenu__content__reports__dialog__header__btn__text {
    font-family   : 'RobotoLight';
    color         : #9c9c9c;
    text-transform: uppercase;
    text-align    : center;
    letter-spacing: 0.05rem;
    font-size     : 0.75rem;
    ;
}

.accountmenu__content__reports__dialog__header__name {
    font-family   : 'Montserrat';
    font-size     : 2rem;
    letter-spacing: 0.05rem;
    margin-top    : 3%;
    text-transform: uppercase;
}

.accountmenu__content__reports__dialog__content__item__lcontainer {
    margin-left   : 50%;
    max-width     : 50%;
    margin-top    : 3%;
    margin-bottom : 3%;
    display       : flex;
    flex-direction: column;
}

.accountmenu__content__reports__dialog__content__item__rcontainer {
    max-width     : 100%;
    margin-top    : 3%;
    margin-bottom : 3%;
    display       : flex;
    flex-direction: column;
}

.accountmenu__content__reports__dialog__content__item__time {
    color         : #9c9c9c;
    font-family   : 'RobotoLight';
    letter-spacing: 0.1rem;
}

.accountmenu__content__reports__dialog__content__item__msg_to {
    font-family   : 'Montserrat';
    margin-top    : 2%;
    padding-left  : 5%;
    padding-right : 5%;
    padding-top   : 3%;
    padding-bottom: 3%;
    font-size     : 1.2rem;
}

.accountmenu__content__reports__dialog__content__item__msg_frm {
    font-family   : 'Montserrat';
    margin-top    : 2%;
    padding-left  : 5%;
    padding-right : 5%;
    padding-top   : 3%;
    padding-bottom: 3%;
    font-size     : 1.2rem;
}

.accountmenu__content__reports__dialog__content__item__name {
    font-family   : 'Montserrat';
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.accountmenu__content__reports__dialog__content__item__header {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    max-width      : 60%;
}

.accountmenu__content__reports__dialog__content__item__name_b {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #FD0023;
    font-size  : 1.1rem;
}

.accountmenu__content__reports__dialog__content {
    overflow-y      : auto;
    padding         : 0 10px;
    background-color: #121214;
}

.accountmenu__content__reports__dialog__content::-webkit-scrollbar {
    width: 0.4rem;
}

.accountmenu__content__reports__dialog__content::-webkit-scrollbar-track {
    background: #30303000;
}

.accountmenu__content__reports__dialog__content::-webkit-scrollbar-thumb {
    background: #FD0023;
}

.accountmenu__content__reports__dialog__input {
    height          : 14vh;
    margin-top      : 2%;
    margin-bottom   : 2%;
    padding-left    : 1rem;
    padding-right   : 1rem;
    padding-top     : 0.7rem;
    padding-bottom  : 0.7rem;
    background-color: #121214;
    box-sizing      : border-box;
    border-radius   : 6px;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : space-between;
}

.accountmenu__report__input {
    color      : #fff;
    font-family: 'Montserrat';
    font-size  : 1.2rem;
    width      : 100%;
}

.accountmenu__report__input::placeholder {
    color: #fff;
}